* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100vw;
  min-height: 100svh;
  background-color: #3f83f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px 0;
  position: relative;
}

.loaderWrapper {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 68, 85, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}

.loaderContainer {
  width: 60px;
  height: 60px;
  background-color: rgba(58, 68, 85, .8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  height: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top: 5px solid white;
  animation-name: load;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes load {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error {
  width: fit-content;
  height: fit-content;
  padding: 12px 16px;
  position: absolute;
  bottom: 40px;
  transition: 500ms;
  border-radius: 8px;
  text-align: center;
  background-color: transparent;
  color: transparent;
  font-weight: bold;
  z-index: 999;
}

h1 {
  color: #fff;
  text-align: center;
}

.fileInput {
  width: 90%;
  max-width: 600px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  background-color: #eb3f33;
  box-shadow: 0 5px 0 0 #fabd03;
  border: 1px solid #ff2e1f;
  transition: 200ms;
  position: relative;
  text-align: center;
}

input[type="file"] {
  padding: 10px;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.fileInput span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.fileInput:hover {
  transform: translate(0, -5px);
  background-color: #ff2e1f;
}

table {
  width: 90%;
  max-width: 600px;
  border-spacing: 0px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 5px 0 0 #fabd03;
  font-weight: bold;
  color: #222;
}

tr:nth-child(odd) td {
  background-color: hsla(4, 56%, 56%, 0.301);
}

td {
  padding: 8px;
}

td:last-child {
  text-align: center;
}

tr:first-child td:first-child {
  border-top-left-radius: 5px;
}

tr:first-child td:last-child {
  border-top-right-radius: 5px;
}

tr td span:not(#nmbrOfMost) {
  font-size: .8rem;
  display: block;
  color: #666;
}

.dropdown-btn {
  background-color: hsla(4, 50%, 70%, 1);
  height: 1.75rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;
}

.up {
  transform: rotate(180deg);
}

.words-row {
  display: none;
}

.words-row td {
  text-align: left
}

.show {
  display: table-row;
}

.case {
  width: 200px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 8px;
  border: 1px solid #eb4235;
  padding: 4px;
  background-color: #ecc8c6;
  cursor: pointer;
}

.sensitive,
.insensitive {
  width: 50%;
  font-size: .7rem;
  padding: 5px 3px;
  text-align: center;
  font-weight: bold;
}

.sensitive {
  background-color: #eb4235;
  border-radius: 6px 0 0 6px;
  color: white;
}

.insensitive {
  background-color: transparent;
  border-radius: 0 5px 5px 0;
  color: #222;
}

.words-container ul {
  list-style-type: none;
}

.words-container ul li {
  border-bottom: 1px solid #555;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}